@import "compass/reset", "compass/css3", "mixins", "variables", "header", "footer";

body{
  color:$text_color;
  font: normal 11/1.5em "proxima-nova", Helvetica, Arial, sans-serif;
  
  a {
    color:$alt_text_color;
    text-decoration:none;
    
    &:hover, &:active { text-decoration:underline; }
  }
  
  .uppercase { text-transform:uppercase; }
  
  div.wrapper{
    @include center_block;
    
    clear:both;
  } // End global wrapper div styles
} // End global body styles