@import "compass/reset", "compass/css3", "mixins", "variables", "header", "footer";

body{
  color:$text_color;
  font-family:"proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight:normal;
  line-height:1.2em;
  
  a {
    color:$alt_text_color;
    text-decoration:none;
    
    &:hover, &:active { text-decoration:underline; }
  }
  
  .uppercase { text-transform:uppercase; }
  
  div.wrapper{
    @include center_block;
    
    clear:both;
  } // End global wrapper div styles
} // End global body styles